body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    background-color: lightslategrey;
}

h1 {
    color: rgb(134, 183, 214);
}

button {
    background-color: rgb(245, 249, 130);
    color: rgb(21, 25, 27);
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

p {
    font-size: 20px;
    margin-top: 20px;
}